.header {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
}

.headerLinks {
	display: inline;
	border-right: 0;
	padding: 0 0 0 0;
	margin-right: 0;
}

ul li{
	display: inline;
	border-right: 0;
	padding: 0 0 0 0;
	margin-right: 0;
}

ul {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
	padding: 0 0 0 0;
}