.header {
	display: grid;
	grid-template-columns: 0.47fr;
}

.headerLinks {
	display: inline;
}

.navBar li{
	cursor: pointer;;
	display: inline;
}

.headerStack {
	display: block;
}

.headerStack li {
	display: block;
}

ul {
    display: flex;
    justify-content: space-around;
	max-width: 600px;
}